
.button {
  color: $black;
  border-radius: $border-radius;
  height: 38px;
  cursor: pointer;
  border: 1px solid transparent;

  transition: all $transition-duration $animation-timing-function;

  &:hover {
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
  }

  &:active {
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);
  }
}
