
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  padding-block: 48px;
  min-width: 320px;
  @include onTablet {
    max-width: 448px;
    padding-block: 64px;
  }
  @include onDesktop {
    max-width: 794px;
    padding-block: 100px;
  }
}
