.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    color: $gold;
    font-size: 48px;
    font-weight: 400;
    font-family: "Oswald", sans-serif;

    text-align: center;
    margin-top: 0;
    margin-bottom: 24px;
    @include onTablet {
      margin-bottom: 36px;
      font-size: 64px;
    }
    @include onDesktop {
      margin-bottom: 48px;
    }
  }

  &__subtitle {
    font-family: "Oswald", sans-serif;

    text-align: center;
    font-weight: 400;
    font-size: 24px;
    @include onTablet {
      font-size: 32px;
    }
    max-width: $subtitle-max-width;
    margin-bottom: 8px;
  }

  &__article {
    text-align: center;
    margin-bottom: 36px;
    font-size: 16px;
    max-width: $subtitle-max-width;

    @include onTablet {
      margin-bottom: 48px;
      font-size: 24px;
    }
  }
}
