
.main {
  border: 1px solid $gray;
  border-radius: $border-radius;
  padding: 15px;
  @include onTablet {
    padding: 30px;
  }
  @include onDesktop {
    padding: 50px;
  }
  backdrop-filter: blur(6px);
  max-width: $form-max-width;
}
