
// #region colors
  $white: #fff;
  $gold: #e3c163;
  $gray: #646464;
  $light-gray: #cecece;
  $red: #ff0000;
  $black: #141414;
// #endregion

$padding: 20px;
$border-radius: 30px;

$tablet-min-width: 640px;
$laptop-min-width: 1024px;
$desctop-min-width: 1600px;
$wide-screeen-min-width: 2560px;

$transition-duration: 0.3s;
$animation-timing-function: ease;
$scale-value: 1.1;
